/* Example: change primary button */
#kc-login, .pf-v5-c-button.pf-m-primary {
  background-color: #7c3aed !important;
  border-color: #7c3aed !important;
}

#kc-login:hover, .pf-v5-c-button.pf-m-primary:hover {
  filter: brightness(1.05);
}

/* Example: background */
body {
  background: #0b0b0f !important;
}
